{% extends 'master_auth.html' %}

{% block body %}

<div class="login-box">
  <div class="login-logo">
    <a href="../../index2.html"><b>Naive</b>Bayes</a>
  </div>
  <!-- /.login-logo -->
  <div class="card">
    <div class="card-body login-card-body">
      <p class="login-box-msg">silakkan login dengan menginputkan data yang sesuai</p>

      <form method="post">
		{% csrf_token %}
        <div class="input-group mb-3">
          <input name="username" type="text"  class="form-control" placeholder="Username">
		<!-- username : {{ form.username }} -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-user"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input name="password" type="password" class="form-control" placeholder="Password">
		<!-- Password : {{ form.password }} -->
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          
          <!-- /.col -->
          <div class="col-4">
            <button type="submit" class="btn btn-primary btn-block">Login</button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      
      <!-- /.social-auth-links -->

      
    </div>
    <!-- /.login-card-body -->
  </div>
</div>
{% endblock %}