{% extends 'master.html' %}

{% block body %}
<div class="container-fluid">
	
	<div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <!-- <i class="fas fa-globe"></i> Laporan Hasil Bakat Siswa -->
                    <!-- <small class="float-right">Date: 2/10/2014</small> -->
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-2 invoice-col">
                  <p>logo buton</p>
                </div>
                <!-- /.col -->
                <div class="col-sm-8 invoice-col">
                  <center><strong><p style="font-size: 20px;">PEMERINTAH KABUPATEN BUTON<p></strong></center>
                  <center><strong><p style="font-size: 20px;">DINAS PENDIDIKAN<p></strong></center>
                  <center><strong><p style="font-size: 20px;">SMP NEGERI 3 PASARWAJO<p></strong></center>
                  
                  <!-- <br /> -->
                  
                  <br />
                  <center><p style="font-size: 12px;">Alamat : Jln Poros Pasarwajo Dongkala Telp. …… Kode Pos 93754</p></center>

                </div>
                
                <!-- /.col -->
                <div class="col-sm-2 invoice-col">
                  <p> logo tutwuri handayani</p>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->


              <!-- untuk garis pembatas -->
              <div class="col-sm-12">
                	<p style="border-bottom: solid;"></p>
                </div>

                <br />
               <div class="col-sm-12">
               		<center><h3>TABEL HASIL BAKAT SISWA</h3></center>
               </div>
                <br />

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Jenis Kelamin</th>
                      <th>Tinggi Badan</th>
                      <th>Berat Badan</th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for index, value in data_testing_lari.iterrows %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td></td>
                      <td>{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}</td>
                      <td>{{ value.tinggi_badan }}</td>
                      <td>{{ value.berat_badan }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  
                </div>
              </div>
            </div>
	
	<div class="row">
		<div class="card">
              <div class="card-header p-2">
                <ul class="nav nav-pills">
                  <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Data Training Lari</a></li>
                  <li class="nav-item"><a class="nav-link" href="#voli" data-toggle="tab">Data Training Voli</a></li>
                  <li class="nav-item"><a class="nav-link" href="#renang" data-toggle="tab">Data Training Renang</a></li>
                  <li class="nav-item"><a class="nav-link" href="#bulutangkis" data-toggle="tab">Data Training Bulu Tangkis</a></li>
                  <li class="nav-item"><a class="nav-link" href="#sepakbola" data-toggle="tab">Data Training Sepak Bola</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tenismeja" data-toggle="tab">Data Training Tenis Meja</a></li>
                  <li class="nav-item"><a class="nav-link" href="#tolakpeluru" data-toggle="tab">Data Training Tolak Peluru</a></li>
                </ul>
              </div><!-- /.card-header -->
              <div class="card-body">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                     <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Lari</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Lari</th>
								<th>Teknik Dasar Lari</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_lari.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_lari }}</td>
								<td>{{ value.teknik_dasar_lari }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

				<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Lari</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Lari</th>
								<th>Teknik Dasar Lari</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_lari.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_lari }}</td>
								<td>{{ value.teknik_dasar_lari }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->



                  </div>
                  <!-- /.tab-pane -->
                  <div class="tab-pane" id="voli">
                    <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Voli</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Voli</th>
								<th>Teknik Dasar Voli</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_voli.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_voli }}</td>
								<td>{{ value.teknik_dasar_voli }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

			<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Voli</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Voli</th>
								<th>Teknik Dasar Voli</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_voli.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_voli }}</td>
								<td>{{ value.teknik_dasar_voli }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->

                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="renang">
                     <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Renang</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Renang</th>
								<th>Teknik Dasar Renang</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_renang.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_renang }}</td>
								<td>{{ value.teknik_dasar_renang }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

				<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Renang</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Renang</th>
								<th>Teknik Dasar Renang</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_renang.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_renang }}</td>
								<td>{{ value.teknik_dasar_renang }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->

                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="bulutangkis">
                     <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Bulu Tangkis</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Bulu Tangkis</th>
								<th>Teknik Dasar Bulu Tangkis</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_bulu_tangkis.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_bulu_tangkis }}</td>
								<td>{{ value.teknik_dasar_bulu_tangkis }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

				<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Bulu Tangkis</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Bulu Tangkis</th>
								<th>Teknik Dasar Bulu Tangkis</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_bulu_tangkis.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_bulu_tangkis }}</td>
								<td>{{ value.teknik_dasar_bulu_tangkis }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->

                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="sepakbola">
                     <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Sepak Bola</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Sepak Bola</th>
								<th>Teknik Dasar Sepak Bola</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_sepak_bola.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_sepak_bola }}</td>
								<td>{{ value.teknik_dasar_sepak_bola }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

				<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Sepak Bola</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Sepak Bola</th>
								<th>Teknik Dasar Sepak Bola</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_sepak_bola.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_sepak_bola }}</td>
								<td>{{ value.teknik_dasar_sepak_bola }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->

                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="tenismeja">
                     <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Tenis Meja</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Tenis Meja</th>
								<th>Teknik Dasar Tenis Meja</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_tenis_meja.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_tenis_meja }}</td>
								<td>{{ value.teknik_dasar_tenis_meja }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

			<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Tenis Meja</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Tenis Meja</th>
								<th>Teknik Dasar Tenis Meja</th>

							</tr>
						</thead>
						<tbody>

							{% for index, value in data_testing_tenis_meja.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_tenis_meja }}</td>
								<td>{{ value.teknik_dasar_tenis_meja }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->


                  </div>
                  <!-- /.tab-pane -->

                  <div class="tab-pane" id="tolakpeluru">
                     <!-- data training lari disini -->
                    <div class="card card-warning">
				<div class="card-header">
					<h3 class="card-title">Data Training Tolak Peluru</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Tolak Peluru</th>
								<th>Teknik Dasar Tolak Peluru</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_training_tolak_peluru.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_tolak_peluru }}</td>
								<td>{{ value.teknik_dasar_tolak_peluru }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

				<!-- ini untuk data testing -->
			<div class="card card-secondary">
				<div class="card-header">
					<h3 class="card-title">Data Testing Tolak Peluru</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 500px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>Nomor</th>
								<th>Jenis Kelamin</th>
								<th>Tinggi Badan</th>
								<th>Berat Badan</th>
								<th>Kemampuan Fisik Tolak Peluru</th>
								<th>Teknik Dasar Tolak Peluru</th>

							</tr>
						</thead>
						<tbody>
							{% for index, value in data_testing_tolak_peluru.iterrows %}
							<tr>
								<td>{{ forloop.counter }}</td>
								<td>
									{% if value.jenis_kelamin == 1 %} 
										Laki - Laki
									{% else %}
										Perempuan 
									{% endif %}
								 </td>
								<td>
									{% if value.tinggi_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								<td>
									{% if value.berat_badan == 1 %} 
										Ideal
									{% else %}
										Tidak Ideal 
									{% endif %}
								
							</td>
								<td>{{ value.kemampuan_fisik_tolak_peluru }}</td>
								<td>{{ value.teknik_dasar_tolak_peluru }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- end data testing -->


                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
	</div>
	
	
	
	

</div>
{% endblock %}