{% extends 'master.html' %}

{% load static %}

{% block style %}

<style>
	.jenis_huruf {
		font-family: "Times New Roman", Times, serif;
		font-size: 30px; 
		padding-bottom: 0; 
		margin-bottom: 0;
	} 

	.huruf_laporan {
		font-family: "Times New Roman", Times, serif;
	} 

	.gambar: {
		margin: 800;
		padding: 800;
	}

</style>

{% endblock %}

{% block body %}
<div class="container-fluid">
	
	<div class="invoice p-3 mb-3">
              <!-- title row -->
              <div class="row">
                <div class="col-12">
                  <h4>
                    <!-- <i class="fas fa-globe"></i> Laporan Hasil Bakat Siswa -->
                    <!-- <small class="float-right">Date: 2/10/2014</small> -->
                  </h4>
                </div>
                <!-- /.col -->
              </div>
              <!-- info row -->
              <div class="row invoice-info">
                <div class="col-sm-2 invoice-col">
                  <!-- <p>logo buton</p> -->
                 <p>  </p> <img src="{% static 'image/logo_buton.png' %}" height="139" width="100">
                </div>
                <!-- /.col -->
                <div class="col-sm-8 invoice-col" style="padding-bottom: 0; margin-bottom: 0;">
                  <center><strong><p class="jenis_huruf" >PEMERINTAH KABUPATEN BUTON<p></strong></center>
                  <center><strong><p class="jenis_huruf" style=" line-height: 0px;">DINAS PENDIDIKAN<p></strong></center>
                  <center><strong><p class="jenis_huruf">SMP NEGERI 3 PASARWAJO<p></strong></center>
                  
                  <!-- <br /> -->
                  
                  <br />
                  <center><p class="huruf_laporan" style="font-size: 20px;">Alamat : Jln Poros Pasarwajo Dongkala Telp. …… Kode Pos 93754</p></center>

                </div>
                
                <!-- /.col -->
                <div class="col-sm-2 invoice-col">
                  <!-- <p> logo tutwuri handayani</p> -->

                  <br />
                  <img class="gambar" src="{% static 'image/logo_tutwuri.png' %}" height="123" width="125">
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->


              <!-- untuk garis pembatas -->
              <div class="col-sm-12">
                	<p style="border-bottom: solid;"></p>
                </div>

                <br />
               <div class="col-sm-12">
               		<center><h3>TABEL HASIL BAKAT SISWA</h3></center>
               </div>
                <br />

              <!-- Table row -->
              <div class="row">
                <div class="col-12 table-responsive">
                  <table class="table table-striped">
                    <thead>
                    <tr>
                      <th>No</th>
                      <th>Nama</th>
                      <th>Jenis Kelamin</th>
                      <th>Tinggi Badan</th>
                      <th>Berat Badan</th>
                      <th>Lari</th>
                      <th>Voli</th>
                      <th>Renang</th>
                      <th>Tenis Meja</th>
                      <th>Bulu Tangkis</th>
                      <th>Tolak Peluru</th>
                      <th>Sepak Bola</th>
                      <th>Bakat Siswa (Nilai Tertinggi) </th>
                    </tr>
                    </thead>
                    <tbody>
                    
                    {% for index,value in digabungkan_dulu.iterrows %}
                    <tr>
                      <td>{{ forloop.counter }}</td>
                      <td>{{ value.nama_siswa }}</td>
                      <td>{{ value.jenis_kelamin|title }}</td>
                      <td>{{ value.tinggi_badan }}</td>
                      <td>{{ value.berat_badan }}</td>
                      <td>
                      	{% if value.lari == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}
                      </td>
                      <td>

                      {% if value.voli == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                  </td>
                      <td>

                      	{% if value.renang == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                  </td>
                      <td>
                      	{% if value.tenis_meja == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                      </td>
                      <td>
                      	{% if value.bulu_tangkis == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                      </td>
                      <td>
                      	{% if value.tolak_peluru == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                      </td>
                      <td>
                      	{% if value.sepak_bola == value.nilai_tertinggi %}
                      	<i class="fas fa-check"></i>
                      	{% else %}
                      
                      	<i class="fas fa-close"></i>

                      	{% endif %}

                      </td>
                      <td>{{ value.bakat|title }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                  </table>
                </div>
                <!-- /.col -->
              </div>
              <!-- /.row -->

              
              <!-- /.row -->

              <!-- this row will not appear when printing -->
              <div class="row no-print">
                <div class="col-12">
                  <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fas fa-print"></i> Print</a>
                  
                </div>
              </div>
            </div>
	
	
	
	
	
	

</div>
{% endblock %}