{% extends 'master.html' %}
{% load static %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Tabel Training</h3>

					
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Jenis Kelamin</th>
								<th>Pernah Mengulang</th>
								<th>Pernah Cuti</th>
								<th>Sambil Bekerja</th>
								<th>IPK</th>
								<th>IPK Semester 1</th>
								<th>Asli Orang Papua</th>
								<th>Prediksi Kelulusan</th>
							</tr>
						</thead>
						<tbody>
							{% for index, value in gabung.iterrows %}
							<tr>
								<td>{{ index }}</td>
								<td>{{ value.jk }}</td>
								<td>{{ value.p_mengulang }}</td>
								<td>{{ value.p_cuti }}</td>
								<td>{{ value.sam_bekerja }}</td>
								<td>{{ value.ipk }}</td>
								<td>{{ value.ipk1 }}</td>
								<td>{{ value.a_papua }}</td>
								<td>{{ value.prediksi }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Tabel Testing (data true)</h3>

					
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Jenis Kelamin</th>
								<th>Pernah Mengulang</th>
								<th>Pernah Cuti</th>
								<th>Sambil Bekerja</th>
								<th>IPK</th>
								<th>IPK Semester 1</th>
								<th>Asli Orang Papua</th>
								<th>Prediksi Kelulusan</th>
							</tr>
						</thead>
						<tbody>
							{% for index, value in gabung_x_test.iterrows %}
							<tr>
								<td>{{ index }}</td>
								<td>{{ value.jk }}</td>
								<td>{{ value.p_mengulang }}</td>
								<td>{{ value.p_cuti }}</td>
								<td>{{ value.sam_bekerja }}</td>
								<td>{{ value.ipk }}</td>
								<td>{{ value.ipk_sm1 }}</td>
								<td>{{ value.a_papua }}</td>
								<td>{{ value.prediksi }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Tabel Prediksi (data prediksi)</h3>

					
				</div>
				<!-- /.card-header -->
				<div class="card-body table-responsive p-0" style="height: 300px;">
					<table class="table table-head-fixed text-nowrap">
						<thead>
							<tr>
								<th>ID</th>
								<th>Jenis Kelamin</th>
								<th>Pernah Mengulang</th>
								<th>Pernah Cuti</th>
								<th>Sambil Bekerja</th>
								<th>IPK</th>
								<th>IPK Semester 1</th>
								<th>Asli Orang Papua</th>
								<th>Prediksi Kelulusan</th>
							</tr>
						</thead>
						<tbody>
							{% for index, value in gabung_y_pred.iterrows %}
							<tr>
								<td>{{ index }}</td>
								<td>{{ value.jk }}</td>
								<td>{{ value.p_mengulang }}</td>
								<td>{{ value.p_cuti }}</td>
								<td>{{ value.sam_bekerja }}</td>
								<td>{{ value.ipk }}</td>
								<td>{{ value.ipk_sm1 }}</td>
								<td>{{ value.a_papua }}</td>
								<td>{{ value.prediksi }}</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</div>
	</div>	
	
	
	<div class="row">
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h3 class="card-title">Evaluasi</h3>
				</div>
				<div class="card-body">
					<h2>akurasi : {{ akurasi }}</h2>
					<h2>precision : {{ precision }}</h2>
					<h2>recall : {{ recall }}</h2>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
{% block script %}
{% endblock %}